/* Survey page styles */


.main-heading {
  font-size: 2.5em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: black;
  margin-top: 87px;
}
    
.tagline {
  font-weight: 600;
  padding: 20px;
  text-transform:lowercase;
  color: #42e8f4;
}


h3 {
    font-size: 1.5em;
    text-transform: uppercase;
}

.photo{
  width: 60%;
  padding: 10px;
}

form {
  margin: 0 auto;
  text-align: left;
  display: inline-block;
}

.container{
  text-align: center;
}
.newsletter{
  text-align: right;

}




/* Styles for larger screens */
@media screen and (min-width: 840px) {
  .photo{
    width: 40%;
  }
    
       
    .main-heading {
         font-size: 4em;
        
        
    }
    
    .tagline {
         font-size: 2em;
        
    }
}
