/* Survey page styles */


.main-heading {
  font-size: 2.5em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: black;
  margin-top: 87px;
}
    
.tagline {
  font-weight: 600;
  padding: 20px;
  text-transform:lowercase;
  color: #42e8f4;
}


legend {
    font-size: 1.5em;
    text-transform: uppercase;
}

.photo{
  width: 60%;
  padding: 10px;
}

form {
  margin: 0 auto;
  text-align: left;
  display: inline-block;
}

input:focus, textarea:focus {
    background-color: yellow;
    border: 2px solid black;
}

.container{
  text-align: center;
}
.newsletter{
  text-align: right;

}

input {
    margin-top: 11px;
    margin-bottom: 11px;
    display:inline-block;
    *display: inline;     /* for IE7*/
    zoom:1;              /* for IE7*/
    vertical-align:middle;
    margin-left:20px
}

label {
    display:inline-block;
    *display: inline;     /* for IE7*/
    zoom:1;              /* for IE7*/
    float: left;
    padding-top: 8px;
    text-align: right;
    width: 140px;
}


fieldset {
        border: 0 none;
    }

/* Styles for plarger screens */
@media screen and (min-width: 840px) {
  .photo{
    width: 40%;
  }
    
       
    .main-heading {
         font-size: 4em;
        
        
    }
    
    .tagline {
         font-size: 2em;
        
    }
    
   /*Align form*/
   
    .container {
         position:relative;
    float:right;
  
    padding-right: 200px;
    padding-top: 1px;
    }

  
}
